[project]
	description = Hot key and asset management system for unity.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonathan McCaffrey (JonathanMcCaffrey)
[access "refs/for/refs/*"]
	read = group user/Jonathan McCaffrey (JonathanMcCaffrey)
	push = group user/Jonathan McCaffrey (JonathanMcCaffrey)
	label-Code-Review = -2..+2 group user/Jonathan McCaffrey (JonathanMcCaffrey)
	label-Verified = -1..+1 group user/Jonathan McCaffrey (JonathanMcCaffrey)
	rebase = group user/Jonathan McCaffrey (JonathanMcCaffrey)
	removeReviewer = group user/Jonathan McCaffrey (JonathanMcCaffrey)
	submit = group user/Jonathan McCaffrey (JonathanMcCaffrey)
[access "refs/heads/*"]
	read = group user/Jonathan McCaffrey (JonathanMcCaffrey)
	create = group user/Jonathan McCaffrey (JonathanMcCaffrey)
	push = +force group user/Jonathan McCaffrey (JonathanMcCaffrey)
	pushMerge = group user/Jonathan McCaffrey (JonathanMcCaffrey)
[access "refs/tags/*"]
	push = +force group user/Jonathan McCaffrey (JonathanMcCaffrey)
	pushTag = group user/Jonathan McCaffrey (JonathanMcCaffrey)
	pushSignedTag = group user/Jonathan McCaffrey (JonathanMcCaffrey)
